# Gemini AI Configuration
GEMINI_API_KEY=

# Supabase Configuration
SUPABASE_URL=https://yoithhhtabcuzaqbvqgc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlvaXRoaGh0YWJjdXphcWJ2cWdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM3NDU4ODAsImV4cCI6MjA3OTMyMTg4MH0.HBo633dBZchxMfra3aW1K83ivfIqJsBO44hppa5xjmc
